<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chrom</title>
</head>
<body>
    <div class="mycam">
        <img src="http://127.0.0.1:8000/chrom/detectme" style="width: 200px;"/>
    </div>

    What subject would you like to enter?<br/>
    <input id="subject-input" type="text" size="100"/><br/>
    <input id="subject-submit" type="button" value="Enter"/>

    <script>
        document.querySelector("#subject-input").focus();
        document.querySelector("#subject-input").addEventListener("keyup",(e) => {
            if(e.keyCode === 13){
                document.querySelector("#subject-submit").click();
            }
        });

        document.querySelector("#subject-submit").addEventListener("click",(e) => {
            let subject = document.querySelector("#subject-input").value;
            window.location.pathname = `/chrom/${subject}/`;
        });
    </script>
</body>
</html>